### Eclipse ###
bin/
.settings/
.project
.classpath
.metadata

### Java ###
*.class


### VSCode ###
.vscode/

### JavaDoc allow ###
target/classes/
target/javadoc-bundle-options/
target/test-classes/
maven-javadoc-plugin-stale-data.txt
